@import './styles/utils/_mixins.scss';
@import './styles/utils/normalize.scss';
@import './styles/utils/reset.scss';
@import './styles/utils/vars.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.page {
  background-color: var(--background);
}

.dark-text {
  color: var(--darkText);
}

.green-text {
  margin-bottom: 100px;
  color: var(--green);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 30px;
  }
}

.icon {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mobile__content {
  margin-bottom: 110px;
  display: block;

  @include onTablet {
    display: none;
  }
}

.home {
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 35px;

  @include onTablet {
    display: none;
  }

  &__title {
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.header {
  position: sticky;
  top: 0;
  background-color: var(--background);
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0 1px 6px 0 var(--green);

  @include onTablet {
    height: 100px;
  }

  &__desktop {
    display: none;
  
    @include onTablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 230px;
    }
  }

  &__mobile {
    display: flex;

    @include onTablet {
      display: none;
    }
  }
}

.projects {
  .section__title {
    margin-top: 70px;
    margin-bottom: 35px;
  }
}

.section__title {
  margin: 0 auto 60px;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 120%;
  font-weight: 900;
  color: var(--darkText);

  &::after {
    content: "";
    margin-left: 10px;
    display: inline-block;
    width: 66%;
    height: 1px;
    background-color: var(--darkText);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  z-index: 15;
}

.social__links {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.social__link {
  height: 25px;
  width: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.git-hub {
  background-image: url('./images/icons/git-hub_icon--light.svg');
  transition: all 0.5s;
}

.git-hub:hover {
  background-image: url('./images/icons/git-hub_icon--green.svg');
}

.linked-in {
  background-image: url('./images/icons/linked-in_icon--light.svg');
  transition: all 0.5s;
}

.linked-in:hover {
  background-image: url('./images/icons/linked-in_icon--green.svg');
}

.about {
  padding-top: 70px;

  @include onTablet {
    padding-top: 90px;
  }
}

.about__photo {
  margin: 0 auto 70px;
  background-image: url('./images/blocks/about/photo.png');
  background-position: center;
  background-size: contain;
  height: 200px;
  width: 200px;
  box-shadow: 2px 2px 10px 0 var(--green);
  border: 1px solid var(--background);
  border-radius: 3px;
  filter: grayscale(50%);
  transition: all 0.5s;

  @include onTablet {
    margin: 0 0 70px;
    height: 280px;
    width: 280px;
  }
}

.about__photo:hover {
  transform: scale(110%);
  filter: grayscale(0);
}

.about-text {
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 170%;
  color: var(--darkText);
}

.accented-text {
  color: var(--green);
  font-size: 18px;
  line-height: 150%;
  margin: 20px 0;
}

.title-text {
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 120%;
  font-weight: 900;
}

.skills {
  margin: 20px 10px;
  padding-left: 20px;
  border-left: 1px solid var(--green);
}

.contacts {
  margin-bottom: 150px;
  padding-top: 70px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    @include onTablet {
      flex-direction: row;
    }
  }

  .section__title {
    &::after {
      width: 58%;
    }
  }
}

.contacts__list {
  font-size: 16px;
}

.contacts__item {
  margin-bottom: 25px;
  color: var(--green);
  line-height: 150%;
}

.contacts__link {
  display: block;
  color: var(--lightText);
}

iframe.map {
  width: 100%;
  height: 250px;
  transition: all 0.5s;
  border: 2px solid var(--green);

  @include onTablet {
    width: 50%;
  }
}

.nav {

  &__list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  &__link {
    color: var(--green);
  }
}

.desktop__content {
  display: none;

  @include onTablet {
    display: block;
  }
}
